- TCGA (cancer genomic data with associated clinical data) hosted on google cloud and accessible via python. Example notebooks and scripts in the [github repository](https://github.com/isb-cgc/examples-Python).

- [Google Genomics](https://cloud.google.com/genomics/docs/quickstart)

- [List of publically available clinical datasets](https://github.com/EpistasisLab/ClinicalDataSources) from the Epistasis lab at UPenn

- [Open data](https://avillach-lab.hms.harvard.edu/access-data/open-data) from the Avillach lab at harvard.

- [Columbia Open Health Data](https://www.nature.com/articles/sdata2018273)

- [openFDA](https://open.fda.gov/)

- [Public datasets on github](https://github.com/awesomedata/awesome-public-datasets)

- [eICU MIT clinical data](https://github.com/MIT-LCP/eicu-code)

- [MGH/MF Waveform data](https://alpha.physionet.org/content/mghdb/1.0.0/)

- [PhysioNet clinical datasets](https://alpha.physionet.org/about/database/#image)

## Columbia Open Health Data

Ta, Casey N.; Dumontier, Michel; Hripcsak, George; P. Tatonetti, Nicholas; Weng, Chunhua (2018): Columbia Open Health Data, a database of EHR prevalence and co-occurrence of conditions, drugs, and procedures. figshare. Collection.

In [13]:
import wget
# more dataset links at https://figshare.com/collections/Columbia_Open_Health_Data_a_database_of_EHR_prevalence_and_co-occurrence_of_conditions_drugs_and_procedures/4151252/1
url_dict = {
'5year_paired_concepts' : 'https://ndownloader.figshare.com/files/12272924',
'ifetime_paired_concept_deviations': 'https://ndownloader.figshare.com/files/13154816',
'5year_single_concept_deviations' : 'https://ndownloader.figshare.com/files/13154819',
'lifetime_single_concept_deviations' : 'https://ndownloader.figshare.com/files/13154756'
}
output_directory = 'data'
filename = wget.download(url_dict['5year_paired_concepts'], out=output_directory)

In [23]:
import pandas as pd
pd.read_csv(filename,sep='\t',
            names=['concept_id_1','concept_id_2', 'prevalence']
           ).head()

      concept_id_1  concept_id_2  prevalence
8507          8515          8907    0.004975
8507          8516         43498    0.024295
8507          8522           148    0.000083
8507          8527        182994    0.102207
8507          8552         14273    0.007972

## [Quantitative Dehydration Estimation](https://alpha.physionet.org/content/qde/1.0.0/)

In [3]:
import wget
output_directory = 'data'
filename = wget.download('https://alpha.physionet.org/files/qde/1.0.0/dehydration_estimation.csv?download',out=output_directory)

In [5]:
import pandas as pd
f = pd.read_csv(filename,sep=',')
display(f.shape)
f.head()

(90, 33)

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
0,1,29.0,190.0,8.0,0,85.515,85.90,54.0,231.27,232.63,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8
1,1,NaN,NaN,NaN,1,85.275,85.56,53.7,234.75,240.08,...,31.3,56.0,146.0,NaN,29.0,NaN,NaN,78.0,NaN,544.1
2,1,NaN,NaN,NaN,2,84.895,85.32,54.0,230.81,233.95,...,31.2,55.0,134.0,111700.0,35.0,1.240,11.80,84.0,37.0,537.3
3,1,NaN,NaN,NaN,3,84.540,84.90,54.0,231.96,236.32,...,30.9,53.0,123.0,NaN,38.0,0.947,10.60,95.0,38.0,595.6
4,1,NaN,NaN,NaN,4,84.185,84.48,53.9,227.03,232.07,...,31.7,36.0,185.0,154110.0,37.0,0.727,9.64,91.0,32.0,541.3

## [Tappy Keystroke Data](https://alpha.physionet.org/content/tappy/1.0.0/)

In [73]:
import wget
output_directory='data'
filename = wget.download('https://alpha.physionet.org/static/published-projects/tappy/tappy-keystroke-data-1.0.0.zip',out=output_directory)

In [74]:
filename

'data/tappy-keystroke-data-1.0.0.zip'

In [75]:
import zipfile
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall(output_directory)

In [76]:
extracted_dir = filename.split('/')[1].split('.z')[0]
full_extracted_dir = output_directory+'/'+extracted_dir

In [77]:
import os
zip_files = os.listdir(full_extracted_dir)[:2]

In [78]:
for f in zip_files:
    with zipfile.ZipFile(full_extracted_dir+'/'+f, 'r') as zip_ref:
        zip_ref.extractall(full_extracted_dir)

In [79]:
os.listdir(full_extracted_dir)

['Archived-users.zip',
 'Archived users',
 'Tappy Data',
 'Archived-Data.zip',
 'SHA256SUMS.txt']

In [89]:
data_folders = os.listdir(full_extracted_dir)[1:3]
data_folders

['Archived users', 'Tappy Data']

In [90]:
data_files = {}
for d in data_folders:
    data_files[d] = [full_extracted_dir+'/'+d+'/'+x for x in os.listdir(full_extracted_dir+'/'+d)]

In [91]:
data_files['Archived users'][0]

'data/tappy-keystroke-data-1.0.0/Archived users/User_PJU53Y7KVB.txt'

In [92]:
import yaml

In [93]:
with open(data_files['Archived users'][0], 'r') as stream:
    data_loaded = yaml.safe_load(stream)

In [94]:
data_loaded

{'BirthYear': None,
 'Gender': 'Male',
 'Parkinsons': True,
 'Tremors': True,
 'DiagnosisYear': None,
 'Sided': 'Left',
 'UPDRS': "Don't know",
 'Impact': 'Mild',
 'Levadopa': True,
 'DA': False,
 'MAOB': False,
 'Other': False}

In [95]:
data_files['Tappy Data'][0]

'data/tappy-keystroke-data-1.0.0/Tappy Data/NMMGWRY6SO_1703.txt'

In [96]:
import pandas as pd

In [97]:
f = pd.read_csv(data_files['Tappy Data'][0],
                sep='\t',header=None,
                names=['UserKey','Date','Timestamp','Hand',
                       'Hold_time','Direction','Latency_time',
                       'Flight_time'])
f.head()

,UserKey,Date,Timestamp,Hand,Hold_time,Direction,Latency_time,Flight_time
NMMGWRY6SO,170301,08:45:42.125,L,187.5,LL,421.9,281.3,NaN
NMMGWRY6SO,170301,08:45:42.422,L,203.1,LL,281.3,93.8,NaN
NMMGWRY6SO,170301,08:48:29.031,L,203.1,LL,296.9,125.0,NaN
NMMGWRY6SO,170301,08:48:29.266,L,218.8,LL,218.8,15.6,NaN
NMMGWRY6SO,170301,08:48:29.484,R,187.5,LR,250.0,31.3,NaN

In [98]:
#https://stackoverflow.com/questions/18857352/python-remove-very-last-character-in-file

import os


def truncate_utf8_chars(filename, count, ignore_newlines=True):
    """
    Truncates last `count` characters of a text file encoded in UTF-8.
    :param filename: The path to the text file to read
    :param count: Number of UTF-8 characters to remove from the end of the file
    :param ignore_newlines: Set to true, if the newline character at the end of the file should be ignored
    """
    with open(filename, 'rb+') as f:
        last_char = None

        size = os.fstat(f.fileno()).st_size

        offset = 1
        chars = 0
        while offset <= size:
            f.seek(-offset, os.SEEK_END)
            b = ord(f.read(1))

            if ignore_newlines:
                if b == 0x0D or b == 0x0A:
                    offset += 1
                    continue

            if b & 0b10000000 == 0 or b & 0b11000000 == 0b11000000:
                # This is the first byte of a UTF8 character
                chars += 1
                if chars == count:
                    # When `count` number of characters have been found, move current position back
                    # with one byte (to include the byte just checked) and truncate the file
                    f.seek(-1, os.SEEK_CUR)
                    f.truncate()
                    return
            offset += 1

In [100]:
import csv
filename=data_files['Tappy Data'][0]
truncate_utf8_chars(filename, 1)
col_names=['UserKey','Date','Timestamp','Hand','Hold_time','Direction','Latency_time','Flight_time','']
all_rows = []
with open(filename, newline = '') as rows:
    row_reader = csv.reader(rows, delimiter='\t')
    for row in row_reader:
        all_rows.append(row)
df = pd.DataFrame(all_rows,columns=col_names).drop('',axis=1)
print(df.shape)
df.head()

(6547, 8)

,UserKey,Date,Timestamp,Hand,Hold_time,Direction,Latency_time,Flight_time
0,NMMGWRY6SO,170301,08:45:42.125,L,0187.5,LL,0421.9,0281.3
1,NMMGWRY6SO,170301,08:45:42.422,L,0203.1,LL,0281.3,0093.8
2,NMMGWRY6SO,170301,08:48:29.031,L,0203.1,LL,0296.9,0125.0
3,NMMGWRY6SO,170301,08:48:29.266,L,0218.8,LL,0218.8,0015.6
4,NMMGWRY6SO,170301,08:48:29.484,R,0187.5,LR,0250.0,0031.3

## [openFDA](https://open.fda.gov/downloads/)

In [27]:
import wget
output_directory = 'data'
filename = wget.download('https://download.open.fda.gov/device/recall/device-recall-0001-of-0001.json.zip',out=output_directory)

In [28]:
filename

'data/device-recall-0001-of-0001.json.zip'

In [29]:
import json

In [30]:
z = zipfile.ZipFile(filename,"r")
filename=z.namelist()[0]
data = z.open(filename).read()
d = json.loads(data.decode("utf-8"))

In [31]:
import pandas as pd
from pandas.io.json import json_normalize

In [38]:
all_df = json_normalize(d)
all_df

,results,meta.last_updated,meta.terms,meta.results.skip,meta.results.total,meta.results.limit,meta.license,meta.disclaimer
0,"[{'event_date_terminated': '2009-05-18', 'firm...",2019-08-03,https://open.fda.gov/terms/,0,61430,61430,https://open.fda.gov/license/,Do not rely on openFDA to make decisions regar...

In [42]:
meta_df = all_df.drop('results',axis=1)
meta_df.columns = [x.split('.')[1] for x in meta_df.columns]
meta_df

,last_updated,terms,results,results,results,license,disclaimer
0,2019-08-03,https://open.fda.gov/terms/,0,61430,61430,https://open.fda.gov/license/,Do not rely on openFDA to make decisions regar...

In [39]:
res = all_df[['results']].values

In [44]:
len(res)

1

In [45]:
len(res[0])

1

In [50]:
len(res[0][0])

61430

In [55]:
len(res[0][0][2])

10

In [56]:
#takes a few minutes
dfs = []
for j in res[0][0]:
    dfs.append(json_normalize(j))

In [65]:
#takes a few minutes
cdfs = pd.concat(dfs,sort=True)

In [66]:
cdfs.columns = [x if len(x.split('.'))==1 else x.split('.')[1] for x in cdfs.columns]

In [67]:
print(cdfs.shape)

(61430, 17)

In [68]:
cdfs.head()

,event_date_terminated,firm_fei_number,k_numbers,device_class,device_name,fei_number,k_number,medical_specialty_description,pma_number,registration_number,regulation_number,other_submission_description,pma_numbers,product_code,product_res_number,res_event_number,root_cause_description
0,2009-05-18,2939204,[],2,"System, Imaging, Pulsed Echo, Ultrasonic",[2939204],NaN,Radiology,NaN,[2939204],892.1560,,[],IYO,Z-0338-2009,49420,Process Control
0,2016-12-08,1218950,[K890517],2,"Monitor, Carbon-Dioxide, Cutaneous",[1218950],[K890517],Anesthesiology,NaN,[1218950],868.2480,,[],LKD,Z-1271-2010,53869,Nonconforming Material/Component
0,2005-09-20,2921482,[],2,"Pump, Infusion",NaN,NaN,General Hospital,NaN,NaN,880.5725,,[],FRN,Z-0439-2005,29982,Component Design/Selection
0,2005-07-25,1713468,"[K942329, K932188, K884823, K933700]",2,"Catheter, Intravascular, Diagnostic",NaN,NaN,Cardiovascular,NaN,NaN,870.1200,,[],DQO,Z-0619-2005,30478,Process Control
0,2011-10-13,1000122268,[],1,"Stains, Hematology",NaN,NaN,Hematology,NaN,NaN,864.1850,,[],KQC,Z-0043-2012,58746,Employee Error

In [84]:
def myfunc(x):
    if type(x)!=list:
        return x
    else:
        if len(x)==0:
            return ''
        if len(x)==1:
            return x[0]
    
cdfs_clean = cdfs.applymap(myfunc)

In [85]:
cdfs_clean.head()

,event_date_terminated,firm_fei_number,k_numbers,device_class,device_name,fei_number,k_number,medical_specialty_description,pma_number,registration_number,regulation_number,other_submission_description,pma_numbers,product_code,product_res_number,res_event_number,root_cause_description
0,2009-05-18,2939204,,2,"System, Imaging, Pulsed Echo, Ultrasonic",2939204,NaN,Radiology,NaN,2939204,892.1560,,,IYO,Z-0338-2009,49420,Process Control
0,2016-12-08,1218950,K890517,2,"Monitor, Carbon-Dioxide, Cutaneous",1218950,K890517,Anesthesiology,NaN,1218950,868.2480,,,LKD,Z-1271-2010,53869,Nonconforming Material/Component
0,2005-09-20,2921482,,2,"Pump, Infusion",NaN,NaN,General Hospital,NaN,NaN,880.5725,,,FRN,Z-0439-2005,29982,Component Design/Selection
0,2005-07-25,1713468,None,2,"Catheter, Intravascular, Diagnostic",NaN,NaN,Cardiovascular,NaN,NaN,870.1200,,,DQO,Z-0619-2005,30478,Process Control
0,2011-10-13,1000122268,,1,"Stains, Hematology",NaN,NaN,Hematology,NaN,NaN,864.1850,,,KQC,Z-0043-2012,58746,Employee Error

## [UC Irvine open datasets](https://archive.ics.uci.edu/ml/index.php)

In [1]:
import wget

In [2]:
out_directory = "data"

In [6]:
filename = wget.download('https://archive.ics.uci.edu/ml/machine-learning-databases/lung-cancer/lung-cancer.names',out=out_directory)

In [7]:
filename

'data/lung-cancer.names'

In [21]:
import pandas as pd
lines = [line.rstrip('\n') for line in open(filename)]
for l in lines:
    print(l)

1. Title: Lung Cancer Data

2. Source Information:
	- Data was published in :
	  Hong, Z.Q. and Yang, J.Y. "Optimal Discriminant Plane for a Small
	  Number of Samples and Design Method of Classifier on the Plane",
	  Pattern Recognition, Vol. 24, No. 4, pp. 317-324, 1991.
	- Donor: Stefan Aeberhard, stefan@coral.cs.jcu.edu.au
	- Date : May, 1992

3. Past Usage:
	- Hong, Z.Q. and Yang, J.Y. "Optimal Discriminant Plane for a Small
          Number of Samples and Design Method of Classifier on the Plane",
          Pattern Recognition, Vol. 24, No. 4, pp. 317-324, 1991.
	- Aeberhard, S., Coomans, D, De Vel, O. "Comparisons of
	  Classification Methods in High Dimensional Settings",
	  submitted to Technometrics.
	- Aeberhard, S., Coomans, D, De Vel, O. "The Dangers of
	  Bias in High Dimensional Settings", submitted to
	  pattern Recognition.

4. Relevant Information:
	- This data was used by Hong and Young to illustrate the
	  power of the optimal discriminant plane even in ill-posed
	  settings. Applying the KNN method in the resulting plane
	  gave 77% accuracy. However, these results are strongly
	  biased (See Aeberhard's second ref. above, or email to
	  stefan@coral.cs.jcu.edu.au). Results obtained by
	  Aeberhard et al. are :
	  RDA : 62.5%, KNN 53.1%, Opt. Disc. Plane 59.4%

	  The data described 3 types of pathological lung cancers.
	  The Authors give no information on the individual
	  variables nor on where the data was originally used.

       -  In the original data 4 values for the fifth attribute were -1.
          These values have been changed to ? (unknown). (*)
       -  In the original data 1 value for the 39 attribute was 4.  This
          value has been changed to ? (unknown). (*)


5. Number of Instances: 32

6. Number of Attributes: 57 (1 class attribute, 56 predictive)

7. Attribute Information:

	attribute 1 is the class label.

	- All predictive attributes are nominal, taking on integer
	  values 0-3

8. Missing Attribute Values: Attributes 5 and 39 (*)

9. Class Distribution:
	- 3 classes,
		1.)	9 observations
		2.)	13     "
		3.)	10     "

In [24]:
filename = wget.download('https://archive.ics.uci.edu/ml/machine-learning-databases/lung-cancer/lung-cancer.data',out=out_directory)
import pandas as pd
pd.read_csv(filename,header=None)

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,1,0,3,0,?,0,2,2,2,1,...,2,2,2,2,2,1,1,1,2,2
1,1,0,3,3,1,0,3,1,3,1,...,2,2,2,2,2,2,2,1,2,2
2,1,0,3,3,2,0,3,3,3,1,...,2,2,2,2,2,2,2,2,1,2
3,1,0,2,3,2,1,3,3,3,1,...,2,2,2,2,2,2,2,2,2,2
4,1,0,3,2,1,1,3,3,3,2,...,2,2,2,2,2,2,2,1,2,2
5,1,0,3,3,2,0,3,3,3,1,...,2,2,2,2,2,2,2,2,1,2
6,1,0,3,2,1,0,3,3,3,1,...,2,2,2,2,1,2,2,2,1,2
7,1,0,2,2,1,0,3,1,3,3,...,2,2,1,2,2,2,2,1,2,2
8,1,0,3,1,1,0,3,1,3,1,...,2,2,2,2,2,2,2,1,2,2
9,2,0,2,3,2,0,2,2,2,1,...,2,2,2,1,3,2,1,1,2,2
10,2,0,2,2,0,0,3,2,3,1,...,2,2,2,2,2,2,2,2,2,2
11,2,0,2,3,2,0,1,2,1,1,...,2,2,2,2,2,1,1,2,2,1
12,2,0,2,1,1,0,1,2,2,1,...,2,2,2,2,2,2,2,1,2,2
13,2,0,2,2,1,1,2,3,3,1,...,2,2,2,2,2,1,1,1,2,2
14,2,1,3,0,?,1,1,2,2,1,...,2,2,2,2,2,2,2,1,2,1
15,2,0,3,2,2,1,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
16,2,0,3,2,2,0,1,1,3,1,...,2,2,2,2,2,2,2,1,2,2
17,2,0,2,1,1,0,2,1,3,1,...,2,2,2,2,2,1,1,1,2,2
18,2,0,2,0,?,0,2,3,3,3,...,2,2,2,2,2,2,2,2,1,2
19,2,0,1,2,1,0,3,3,3,1,...,2,2,2,2,2,1,1,2,2,1
20,2,0,2,0,?,1,3,3,3,1,...,2,2,2,2,1,2,2,1,2,2
21,2,0,3,3,2,0,2,1,3,1,...,2,2,1,2,2,2,2,2,1,2
22,3,0,2,3,1,1,2,2,1,1,...,3,3,3,3,1,3,3,2,2,1
23,3,0,2,3,1,1,1,2,1,1,...,2,2,2,2,2,2,2,2,2,1
24,3,0,3,3,1,0,3,3,1,1,...,2,2,2,2,3,2,2,2,2,1
25,3,0,2,3,2,0,1,2,2,1,...,2,2,2,1,3,1,2,2,1,2
26,3,0,2,2,2,0,2,1,2,1,...,2,2,2,2,2,2,2,1,2,1
27,3,0,2,2,1,0,2,2,2,1,...,3,3,2,2,3,2,2,2,2,1
28,3,0,3,2,2,0,2,2,2,1,...,2,2,2,3,1,2,2,2,2,2
29,3,0,2,1,1,0,2,2,1,1,...,2,2,3,2,2,2,2,2,2,1
30,3,0,2,3,2,1,2,2,3,1,...,2,2,2,2,2,2,2,1,2,2
31,3,0,2,3,1,0,2,3,3,1,...,2,2,2,2,2,2,2,2,2,2